.styled-table {
  border: 1px solid #009879;
  border-collapse: collapse;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: #009879;
  color: #fff;
  text-align: left;
}

.styled-table th,
.styled-table td {
  height: 30px;
  padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #ddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.styled-table tbody tr:hover {
  color: #009879;
}

/* - - - - - - - - - - - - -  */

.price {
  min-width: 80px;
  text-align: right;
}

.actions {
  min-width: 75px;
}

.actions button {
  display: inline-block;
  height: 21px;
}

/* To show always on touch devices and only on hover on other devices */
@media (hover: hover) and (pointer: fine) {
  .actions button {
    display: none;
  }

  .styled-table {
    margin: 25px 0;
  }
}

.actions:hover > button {
  display: inline-block;
}

/* - - - - - - - - - - - - -  */

.btn {
  background: #fff;
  border: 1px solid #20bf6b !important;
  border-radius: 0;
  color: #20bf6b !important;
  display: inline-block;
  outline: none;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
}

.btn:hover {
  border: 1px solid #80bf6b !important;
  border-radius: 5px;
  transition: all 0.3s ease 0s;
}

.btn:focus {
  border: 2px solid #80bf6b !important;
  transition: all 0.3s ease 0s;
}

.errorHolder {
  text-align: center;
}
